h1 {
  color: lightgreen;
  font-family: cursive;
}

h2 {
  color: skyblue;
  font-style: italic;
  font-weight: bold;
}

img {
  max-width: 500px;
  max-height: auto;
}

body {
  background-color: #140E3B;
  text-align: left;
  color: #D6D014;
}

li {
  color: darkblue;
  font-family: sans-serif;
  display:inline;
  margin: 20px;

}

a:visited {
  color:darkgreen;
}
a {
  color:green;
}
